section.attention.block.bg
    .container
        h2.attention__title.title
            span.text-red Будьте осторожны!
            |  Грибком очень легко заразиться, он подстерегает повсюду

        ul.attention__list
            li.attention__item
                .attention__img
                        img(src='img/attention-1.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Общественные сауны, бассейны, тренажерные залы
            li.attention__item
                .attention__img
                        img(src='img/attention-2.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Рукопожатия
            li.attention__item
                .attention__img
                        img(src='img/attention-3.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Пляжи
            li.attention__item
                .attention__img
                        img(src='img/attention-4.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Генетическая предрасположенность
            li.attention__item
                .attention__img
                        img(src='img/attention-5.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Давно не чищенные стельки обуви
            li.attention__item
                .attention__img
                        img(src='img/attention-6.jpg' alt='attention' width="136" height="136" loading='lazy')
                .attention__text Салоны красоты
                    br
                    |  и маникюрные залы

