section.check.block
    .container
        h2.check__title.title Срочно проверьте себя
        p.check__subtitle.subtitle
            span.text-red 89% людей
            |  живут с грибком стопы и не знают об этом
        ul.check__list
            li.check__item
                .check__img
                    img(src='img/check-1.jpg' alt='image' width="180" height="180" loading='lazy')
                |  Зуд или жжение между пальцами ног или на стопе
            li.check__item
                .check__img
                    img(src='img/check-2.jpg' alt='image' width="180" height="180" loading='lazy')
                | Белая, влажная на вид кожа между пальцами
            li.check__item
                .check__img
                    img(src='img/check-3.jpg' alt='image' width="180" height="180" loading='lazy')
                | Утолщенные или желтоватые ногти на пальцах ног
            li.check__item
                .check__img
                    img(src='img/check-4.jpg' alt='image' width="180" height="180" loading='lazy')
                | Красные высыпания между пальцами ног
            li.check__item
                .check__img
                    img(src='img/check-5.jpg' alt='image' width="180" height="180")
                | Пузырьки или язвы на верхней стороне стопы
        .check__urgency
            | Если у вас есть хотя бы 1 из признаков,
            br
            span.text-red  вам срочно необходимо начать терапию!
