section.effect#effect.block
    .container
        h2.effect__title.title Как действует NormaFeet?
        span.effect__subtitle.subtitle Уникальная формула на основе растительных компонентов активно воздействует
            br
            | на устранение грибка


        .effect__wrapper
            .effect__content
                .effect__img.effect-arrow
                    picture
                        source(type='image/webp' srcset='img/effect-1.webp')
                        img(src='img/effect-1.png' alt='effect' width="320" height="331" loading='lazy')

                .effect-info
                    h3.effect-info__title
                        span.effect-info__num
                        span.effect-info__name Действие салициловой кислоты

                    .effect-info__text
                        |  Блокирует выработку простагландинов — гормоноподобных веществ, которые являются непосредственными участниками воспалительного процесса и формирования болевого синдрома. Таким образом, она существенно снижает или снимает воспаления любого происхождения
                        |  и уменьшает вызванные ими болевые ощущения.

                    .effect-info__prop Основные свойства:
                    .effect-info__list.effect-list.list
                        .effect-item.item Антисептическое — оказывает мощный антибактериальный эффект;
                        .effect-item.item Раздражающее — при нанесении на поверхность кожи салициловая кислота проникает глубоко в ее слои и стимулирует кровоток, способствуя регенерации тканей;
                        .effect-item.item Кератолитическое (отшелушивающее) — концентрированная кислота размягчает и подсушивает верхний слой эпидермиса, способствуя его отшелушиванию.



            .effect__content
                .effect__img.effect-arrow.effect__img--second
                    picture
                        source(type='image/webp' srcset='img/effect-2.webp')
                        img(src='img/effect-2.png' alt='effect' width="380" height="355" loading='lazy')

                .effect-info
                    h3.effect-info__title
                        span.effect-info__num
                        span.effect-info__name Работа аллантоина

                    .effect-info__text
                        |  Натуральное вещество, которое оказывает двойное воздействие на кожу: смягчает роговой слой, способствуя отделению отмерших клеток
                        |  и стимулирует регенерацию тканей.

                    .effect-info__text
                        |  Аллантоин в качестве вяжущего средства для наружного применения включён в список местных анестетиков, вяжущих и противовоспалительных средств:


                    .effect-info__list.effect-list.effect-list--wrap.list
                        .effect-item.item стимулирует обновление
                            br
                            |  эпидермиса;
                        .effect-item.item ускоряет регенерацию тканей и замедляет старение клеток;

                        .effect-item.item помогает отшелушиванию ороговевших клеток;
                        .effect-item.item способствует заживлению кожи, восстанавливает ее барьерные свойства.

                        .effect-item.item нейтрализует вредное воздействие свободных радикалов;



            .effect__content
                .effect__img
                    picture
                        source(type='image/webp' srcset='img/effect-3.webp')
                        img(src='img/effect-3.png' alt='effect' width="362" height="336" loading='lazy')

                .effect-info
                    h3.effect-info__title
                        span.effect-info__num
                        span.effect-info__name Восстановление при помощи масла чайного дерева

                    .effect-info__text
                        |  Наиболее эффективными антибактериальными компонентами этого масла являются: терпинен-4-ол, альфа-пин, линалоол и альфа-терпинеол. Проникает через клеточную мембрану микроорганизмов, грибов  и оказывает губительное действие на их мембранную структуру, функционирование,
                        | от чего грибки погибают.


                    .effect-info__prop Также, этот природный компонент:

                    .effect-info__list.effect-list.effect-list--wrap.list
                        .effect-item.item устраняет сухость;
                        .effect-item.item имеет мощное антимикробное свойство;
                        .effect-item.item успокаивает зуд;
                        .effect-item.item улучшает общее состояние кожи.





