section.efficiency.block.bg
    .container
        h2.efficiency__title.title NormaFeet —
            br
            |  эффективный защитник от грибка



        .efficiency__wrapper
            .efficiency__product
                picture
                    source(type='image/webp' srcset='img/product.webp')
                    img(src='img/product.png' alt='product' width="284" height="457" loading='lazy')


            .efficiency__column
                h3.efficiency__info 1 курс средства поможет:

                ul.efficiency__list
                    li.efficiency__item
                        .efficiency__img
                        p.efficiency__list-text улучшить состояние пораженных тканей;
                    li.efficiency__item
                        .efficiency__img.efficiency__img--sweat
                        p.efficiency__list-text убрать ороговевшие слои эпидермиса;
                    li.efficiency__item
                        .efficiency__img.efficiency__img--lag
                        p.efficiency__list-text устранить повышенную потливость ног;
                    li.efficiency__item
                        span.efficiency__img.efficiency__img--fungus
                        p.efficiency__list-text снять признаки грибкового поражения.

