section.expert.block
    .container
        h2.expert__title.title
            span.text-blue  9 из 10 покупателей
            |, использовавших NormaFeet, остались довольны его эффективностью

        span.expert__subtitle.subtitle Мы провели опрос среди мужчин и женщин, в возрасте от 22 до 65 лет с различными типами грибка на ногах


        .expert-wrapper
            ul.expert-list
                li.expert-item
                    .expert-item__persent.expert-item__persent--1(data-number='95')
                    .expert-item__text подтвердили, что средство восстанавливает здоровый вид ногтей и кожи


                li.expert-item
                    .expert-item__persent.expert-item__persent--2(data-number='92')
                    .expert-item__text указали, что средство помогает избежать рецидива

                li.expert-item
                    .expert-item__persent.expert-item__persent--3(data-number='97')
                    .expert-item__text заявили, что испытали облегчение с первых дней использования

                li.expert-item
                    .expert-item__persent.expert-item__persent--4(data-number='96')
                    .expert-item__text похвалили средство за его способность устранять зуд, покраснения, трещины и восстанавливать эпидермис


            .expert-img
                .expert-img__wrapper
                    .expert__left
                        img(src='img/expert-1.jpeg' alt='expert' width="270" height="260" loading='lazy')
                        span.expert__before до
                    .expert__right
                        img(src='img/expert-2.jpeg' alt='expert' width="270" height="260" loading='lazy')
                        span.expert__after после



                .expert-img__wrapper
                    .expert__left
                        img(src='img/expert-3.jpeg' alt='expert' width="270" height="260" loading='lazy')
                        span.expert__before до
                    .expert__right
                        img(src='img/expert-4.jpeg' alt='expert' width="270" height="260" loading='lazy')
                        span.expert__after после
