section.opinion.block.bg
    .container

        .opinion__wrapper
            h2.opinion__title.title Мнение эксперта
            .opinion__text
                p Грибок ногтей – это инфекционное поражение ногтевой пластины. Чаще всего причиной инфекции становятся грибки-дерматофиты. Грибок проявляется на ногтях ног в форме деформации, утолщения, слоения, изменения цвета или атрофии фрагментов ногтя. При этом в месте локализации очага может появиться зуд, покраснения. Запах ног становится резким и неприятным.
                p Normafeet - комплекс на основе 4-х масел (чайное дерево, корица, мята, лемонграс), оказывает общее противовоспалительное, антисептические, тонизирующее, плубоко проникает и на длительное время задерживается в месте локализации грибка,итательное и увлажняющее действие на кожу. И устраняя его.


            .doctor__wrapper
                .doctor__info
                    .doctor__name Доктор Браун
                    .doctor__prof специалист по кожной патологии, 19&nbsp;лет опыта

                img.doctor__sign(src='img/sign.png' alt='sign' width="201" height="85" loading='lazy')
