section.order.block
    .container
        h2.order__title.title Как заказать NormaFeet

        ul.order-list
            li.order-item
                .order-img__wrapper
                    img.order__img(src='img/order-1.png' alt='order' width="193" height="188" loading='lazy')
                span.order-step 1 шаг
                p.order-text Заполните форму заказа. Укажите имя и номер телефона.
            li.order-item
                .order-img__wrapper
                    img.order__img(src='img/order-2.png' alt='order' width="240" height="240" loading='lazy')
                span.order-step 2 шаг
                p.order-text Примите звонок оператора. Специалист уточнит данные и ответит на ваши вопросы.
            li.order-item
                .order-img__wrapper
                    img.order__img(src='img/order-3.png' alt='order' width="240" height="240" loading='lazy')
                span.order-step 3 шаг
                p.order-text Оплатите после получения. Предоплата не требуется.
            li.order-item
                .order-img__wrapper
                    img.order__img(src='img/order-4.png' alt='order' width="240" height="240" loading='lazy')
                span.order-step 4 шаг
                p.order-text Забудьте о грибке и наслаждайтесь жизнью!
