.ever-popup-build
    .popup(id="cloneThis")
        .popup__wrapper
            .popup__left
                .popup__product
                    picture
                        source(srcset='img/product.webp' type='image/webp')
                        img(src='img/product.png' alt='product' width="284" height="457")
            .popup__right
                include form
