.price__old
    .price-old__title Старая цена
    .price-old__item
        span.x_price_previous 1980
        span.x_currency рублей
.price__before
.price__new
    .price-new__title Новая цена
    .price-new__item
        span.x_price_current 990
        span.x_currency рублей