section.promo.block.bg
    .container
        .promo__wrapper

            .promo__info
                h2.title.promo__title
                    img(src='img/promo-logo.png' alt='image' width="318" height="47")
                h3.promo__subtitle Реальный шанс устранить грибок
                h4.promo__text Поможет вернуть здоровье коже и ногтям!
                ul.promo__list.list
                    li.promo__item.item Поможет уничтожить
                        br
                        |  причину грибка
                    li.promo__item.item Избавляет от неприятных ощущений
                    li.promo__item.item Действует на глубинных
                        br
                        |  слоях кожных покровов
                    li.promo__item.item Предупреждает появление
                         br
                         |  новых очагов поражения
                    li.promo__item.item Стимулирует регенерацию
                        br
                        |  клеток эпидермиса

            .promo__product
                picture
                    source(type='image/webp' srcset='img/product.webp')
                    img(src='img/product.png' alt='product' width="284" height="457")

            .promo__form
                include form



        .promo__cert.cert
            .cert__persent
                img.cert__img(src='img/cert-persent.png' alt='product' width="100" height="84")
                span.cert__text Не вызывает привыкания
            .cert__proff
                img.cert__img(src='img/cert-proff.png' alt='product' width="100" height="84")
                span.cert__text Профессиональный подход










