mixin slide(slide)
    li.reviews__item
        .reviews__img
            .reviews-img__left
                picture
                    source(srcset='img/' + slide.srcLeft + '.webp' type='image/webp')
                    img(src='img/' + slide.srcLeft + '.jpg' alt='image' width="210" height="240" loading='lazy')
                .reviews__before  до
            .reviews-img__right
                picture
                    source(srcset='img/' + slide.srcRight + '.webp' type='image/webp')
                    img(src='img/' + slide.srcRight + '.jpg' alt='image' width="210" height="240" loading='lazy')

                .reviews__after после
        .reviews__name!=slide.name
        .reviews__text!=slide.text
        button.reviews-text__btn

-
    const slideArray = [
        {
            srcLeft: 'slide-1',
            srcRight: 'slide-1-1',
            name: 'Женщина, 29 лет',
            text: 'Как-то обнаружила на большом пальце участок конкретно потемневшего ногтя. Под ногтем, стала образовываться некая субстанция, вычистив которую я увидела что ноготь побелел и стал отслаивается от пальца. Начался зуд. У меня так чесались ноги, что я раздирала их до крови. '
        },
        {
            srcLeft: 'slide-2',
            srcRight: 'slide-2-1',
            name: 'Мужчина, 33 года',
            text: 'Я подцепил грибок в общественной душевой нашего спортивного клуба. Спасибо жене, сразу заказала мне NormaFeet. В начале лечения на всякий случай я обрабатывал не только больной ноготь, но и все остальные ногти, а также всю стопу полностью. Первым заметным действием стало то, что пятно стало'
        },
        {
            srcLeft: 'slide-3',
            srcRight: 'slide-3-1',
            name: 'Женщина, 36 лет',
            text: 'После посещения пляжа и кабинок для переодевания начали неприятно зудеть ступни. Прошло всего несколько дней, а между пальцами обеих ног образовались очень характерные пузырьки, которые позже полопались и стало понятно, я заразилась грибком. NormaFeet используем для всей'
        },
        {
            srcLeft: 'slide-4',
            srcRight: 'slide-4-1',
            name: 'Мужчина, 38 лет',
            text: 'Для меня, NormaFeet - это проверенное всеми друзьями и родственниками средство от грибкового заболевания стоп и ногтей. Все дорогостоящие мази и спреи действуют очень кратковременно. Видимо грибки быстро приспосабливаются к ним. А это средство продолжает справляться с заболеванием'
        },
        {
            srcLeft: 'slide-5',
            srcRight: 'slide-5-1',
            name: 'Женщина, 52 года',
            text: 'Летом у мамы, после сделанного педикюра, в салоне красоты на ногах появились какие то прыщики и начали чесаться. Специалист вынес вердикт, что это грибковое заболевание и посоветовал применять NormaFeet. Мама начала применять и в скором времени от болезни не осталось и следа.'
        },
        {
            srcLeft: 'slide-6',
            srcRight: 'slide-6-1',
            name: 'Мужчина, 37 лет',
            text: 'Хочу посоветовать противогрибковый препарат NormaFeet, который не один раз спасал мою семью. Сын начал жаловаться, что у него болят стопы. Мы пошли к специалисту и он сказал, что ребёнок подцепил грибок. Посоветовал NormaFeet. У сына все'
        },
        {
            srcLeft: 'slide-7',
            srcRight: 'slide-7-1',
            name: 'Мужчина, 29 лет',
            text: 'Для многих людей хорошо знаком диагноз грибковой инфекции. И дело не только в несоблюдении гигиены. Просто интенсивность жизни современных людей значительно увеличилась. Мы летаем самолетами, живем в гостиницах, моемся в общественных душах.'
        },
        {
            srcLeft: 'slide-8',
            srcRight: 'slide-8-1',
            name: 'Мужчина, 33 года',
            text: 'Грибок подцепил банально, когда ходил в бассейн. Это не самая лучшая болезнь, да еще и летом угораздило. Постоянный дискомфорт, это очень действует на нервы. Сходил на прием к специалисту, он настоятельно рекомендовал NormaFeet. Я решил попробовать. Какое это было'
        },
        {
            srcLeft: 'slide-9',
            srcRight: 'slide-9-1',
            name: 'Женщина, 34 года',
            text: 'Как-то я заметила странную деталь. У меня на ногтях образовались пустоты, я сходила на педикюр и мы с мастером пришли к выводу, что возможно это грибок. Моя подруга, которая не так давно спасалась сама от грибка вместе со всей своей семьей - посоветовала NormaFeet. Средство мне очень'
        },
    ];



section.reviews.block#reviews
    .container
        h2.reviews__title.title Результаты после курса применения
            br
            | NormaFeet

        ul.reviews__content
            each slide in slideArray
                +slide(slide)

