.timer
    p.timer__text До конца
        br
        span.nowrap  акции осталось:
    .timer__inner
        .timer__item.hours 0
        .timer__item.hours 0
        .timer__dots :
        .timer__item.minutes 0
        .timer__item.minutes 2
        .timer__dots :
        .timer__item.seconds 3
        .timer__item.seconds 6
